.TodoItem {
  width: 70%;
  background-color: rgb(222, 234, 235);
  margin: 15px 0;
  padding: 30px;
  border-radius: 20px;
  list-style: none;
  position: relative;
  box-shadow: 0 5px 5px #131a20;
}
.TodoItem-p {
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 600;
  padding: 0 20px;
  margin: 0;
}
.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon {
  position: absolute;
  width: 30px;
  height: 30px;
}
.Icon .svg {
  fill: rgb(69, 69, 69);
  transition: all 0.3s ease-in-out;
}
.Icon-check {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.Icon-check--active .svg,
.Icon-check .svg:hover {
  fill: rgb(0, 180, 117);
  transform: scale(1.1)
}
.Icon-delete {
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.Icon-delete .svg:hover {
  fill: rgb(188, 35, 0);
  transform: scale(1.1);
}
.Icon-edit {
  bottom: 5px;
  right: 2px;
  cursor: pointer;
}
.Icon-edit .svg:hover {
  fill: rgb(0, 157, 188);
  transform: scale(1.1);
}